*{
    margin:0;
    padding:0;
    box-sizing:border-box;/*kolo in the same box */
    scroll-behavior: smooth;/*easier scrolling*/
}
header{
    background-color:rgb(18, 26, 68);
    width:100%;
    position:fixed;/*header sabeet*/
    z-index:999;/*header sabeet bardo*/
    display:flex;
    position: relative;
    justify-content: space-between;/*space between children in nav*/
    padding: 10px 200px;/*spacing between stuff*/

}
.logo{
    text-decoration:none;
color:blue;
text-transform:uppercase;
font-weight:700;
font-size: 1.8em;
position:static;
}

.navigation a{
    text-decoration:none;
    color:rgb(15, 244, 252);
    text-transform:uppercase;
    font-weight:500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover{/*when you hover on the links in the navigation*/
    color:rgb(31, 170, 174);

}

section{
    padding: 100px 10px;
}
.main{
    width:100%;
    min-height:100vh;/*a2al value bas momken yezeed*/
    display:flex;
    align-items: center;
    background:url(images/backgrnd11.jpg) no-repeat;/*image mesh betetkarar*/
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.main p{
    color:rgb(233, 236, 245);
    font-size: 1.2em;
    font-weight:500;
    margin-left: 15px;
}

.main h2{
    color:rgb(37, 6, 174);
    font-size: 2em;
    font-weight: 700;
    letter-spacing:1px;
    margin-bottom: 30px;
    margin-top: -250px;
    margin-left: 15px;
}
.mainbtn{
    color: aliceblue;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em ;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;/*curved edges*/
margin-bottom: 40px;

}

.mainbtn:hover{/*when i hover over button*/
    background-color:aquamarine;
    transform: scale(1.1);/*yekbar lama a-hover*/
}
.contactus{
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display:flex;
    justify-content: center;
    color: rgb(37, 6, 174);
    font-size: 2.2em;
    font-weight:800;
    margin-bottom:30px;

}
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
   background-color:aliceblue;
   width:23.25em;
   box-shadow: 0 5px 25px rgba(1 1 1/30%);
   border-radius: 10px;
padding: 25px;
margin: 15px;
}
.card1{
    background-color:aliceblue;
    width:17.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/30%);
    border-radius: 10px;
padding: 25px;
margin: 15px;
}
.card:hover{
    transform:scale(1.1);
}
.card1:hover{
   transform:scale(1.1);
}

.quickoutings h3{
    color:blue;
    font-size:1.2em;
    font-weight:700;
    text-align: center;
    margin:10px;
}
.romantic h3{
    color:blue;
    font-size:1.2em;
    font-weight:700;
    text-align: center;
    margin:10px;
}

footer {
    background-color:rgb(18, 26, 68);
    color: rgb(15, 244, 252);
    max-height: auto;
  
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color:rgb(15, 244, 252);
    text-decoration: none; text-decoration: underline;
}

.social-icons {
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li a img {
    width: 30px;
    height: auto;
}


.footerbtngroup{
    flex-direction: column;
}
.footerbtn{
    color: aliceblue;
    background-color: rgb(0, 95, 211);
    text-decoration: none;
    font-size: 1.1em ;
    font-weight: 600;
    display:block;
    padding: 0.9375em 0.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
margin-bottom: 20px;
width: 60%;

}
.footer{
    display: flex;
    flex-direction:row ;
}
.footerbtn:hover{
    background-color :#0FF4FC;
    transform: scale(1.1);
}
.footerbtn{
    margin-bottom: 0;
}

.showmore{
    display: flex;
    align-items: center;
    justify-content: center;
}


.showmore-image{
    border-color: white;
}



.restaurant-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 5px 25px rgba(1 1 1/30%);
    border-radius: 10px;
    position:static;
    overflow: hidden; /* Prevent image overflow */
    max-width: 1000px; /* Limit container width */
    margin: 10% 10% 10% 10% ; /* Center the container */
    background-color: #ffffff;
   /* margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 0;*/
  }
  .restaurant-container:hover{
    transform: scale(1.1);
}
.restaurant-image {
    width: 200px; height: 200px; margin: 10px
  }
  
  .restaurant-description {
    margin-left: 20px;
    font-size: 10px;
    flex: 1;
    padding: 20px;
  }
  
  .restaurant-name {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .reserve-button {
    float: right;
    margin-top: 10px;
    padding: 8px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .reserve-button:hover {
    background-color: #006D9C;
  }

.star{
    width: 100px;
    height:30px;
    margin-top: 10px;
}


.customer-review{
    display:flex;
    height: 5px;
    width: 25%;
   /* box-shadow: 0 5px 5px rgba(1 1 1/30%);
    border-radius: 10px;
    border-color:rgb(0, 0, 0) ;
    border-style: ridge;*/
    padding: 25px;
    align-items:center;
    height: auto;
    margin-top: 100px;
    flex-direction: row;
    position:absolute;
    top: 30px;
    right: 10px  
}
 
.customer-info {
    /* Styling for the customer information container */
    display: flex;
    align-items: center;
    flex-direction: coloumn;
   

}
.customer-img{
    display:flex;
    width: 40px;
    height:40px;
    margin: 10px;
   
}

.customer-name {
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 5px; 
}
.customer-description {
    font-size: 10px;
    position: absolute;
    flex-direction: column;
  }




  .contact-info {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .contact-info h2 {
    margin-top: 0;
  }
  
  .contact-info p {
    margin-bottom: 5px;
  }
  
  .contact-info a {
    text-decoration: none;
    color: #0066cc;
  }



.CAFEBIGDIV
{

   border-style:ridge;
   border-radius: 10px;
   width: 90%;
   height:300%;
   margin-left: 10px;
   margin-top: 20px;
   border-color: black;
   padding-top: 30px;
   padding-left:15px;
   text-align: left;
}

.contactstarbucks
{
    position:relative;
    top:25px;
}

#slider {
  margin: 0 auto;
  width:380px;
  text-align: center;
  position:absolute;
  top: 80%;
  right:13%;
}

#slider1
{
  margin: 0 auto;
  width:380px;
  text-align: center;
  position:absolute;
  top: 150%;
  right:13%;
}

#slider2
{
  margin: 0 auto;
  width:380px;
  text-align: center;
  position:absolute;
  top: 215%;
  right:13%;

}

 #slider input[type=radio] {
    display: none;
 }

 #slider1 input[type=radio] {
    display: none;
 }
 #slider2 input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slider1 label {
    cursor:pointer;
    text-decoration: none;
 }
 #slider2 label {
    cursor:pointer;
    text-decoration: none;
 }

 #slides {
    padding-left: 0px;
    border: 2px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slide5:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide6:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide7:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide8:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slide9:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide10:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide11:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide12:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
    top:250px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls1 {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls2 {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls1 label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls2 label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #controls1 label:hover {
    opacity: 1;
 }
 #controls2 label:hover {
    opacity: 1;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets1 {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets2 {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: white;
    margin: 0 10px;
 }
 #bullets1 label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: white;
    margin: 0 10px;
 }
 #bullets2 label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: white;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 #slide5:checked ~ #bullets1 label:nth-child(1),
 #slide6:checked ~ #bullets1 label:nth-child(2),
 #slide7:checked ~ #bullets1 label:nth-child(3),
 #slide8:checked ~ #bullets1 label:nth-child(4) {
    background: #444;
 }
 #slide9:checked ~ #bullets2 label:nth-child(1),
 #slide10:checked ~ #bullets2 label:nth-child(2),
 #slide11:checked ~ #bullets2 label:nth-child(3),
 #slide12:checked ~ #bullets2 label:nth-child(4) {
    background: #444;
 }
 /* @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 } */

#writtentext p
{
    padding: 10px;
    left:100px;

}





.popup {
   position: relative;
   display: inline-block;
   cursor: pointer;
   /* -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none; */
   margin-left: 400px;
   margin-top: 50px;
 }
 .popup1 {
   position: relative;
   display: inline-block;
   cursor: pointer;
   /* -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none; */
   margin-left: 400px;
   margin-top: 50px;
 }
 .popup2 {
   position: relative;
   display: inline-block;
   cursor: pointer;
   /* -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none; */
   margin-left: 400px;
   margin-top: 50px;
 }
 /* The actual popup */
 .popup .popuptext {
   visibility: hidden;
   width: 160px;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -100px;
 }
 .popup1 .popuptext1 {
   visibility: hidden;
   width: 160px;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -100px;
 }
 .popup2 .popuptext2 {
   visibility: hidden;
   width: 160px;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -100px;
 }
 #menus:hover
 {
   color:#0066cc; 
 }
 /* Popup arrow */
 .popup .popuptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }
 .popup1 .popuptext1::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }
 .popup2 .popuptext2::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }
 /* Toggle this class - hide and show the popup */
 .popup .show {
   visibility: visible;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
 }
 .popup1 .show1 {
   visibility: visible;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
 }
 .popup2 .show2 {
   visibility: visible;
   -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
 }
 
 /* Add animation (fade in the popup) */
 @-webkit-keyframes fadeIn {
   from {opacity: 0;} 
   to {opacity: 1;}
 }
 
 @keyframes fadeIn {
   from {opacity: 0;}
   to {opacity:1 ;}
 }

 .feedback
 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 400px;
  margin-top: 50px;
 }

/*ABOUT US (KAREN)*/

*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}
.BIGBOX
{
position:relative;
width:300px;
height:300px;
display:flex;
justify-content: center;
align-items: center;
margin:30px;
background: #183498;
transition:0.5s;
flex-wrap:wrap;
}
.BIGBOX:hover
{
height: 450px;
}

.BIGBOX:hover .imgBx img
{
position:absolute;
top: 50%;
left: 50%;
}
.BIGBOX::before
{
content:'';
position:absolute;
top:-2px;
left:-2px;
right: -2px;
bottom:-2px;
background:#fff;
z-index:-1;
}

.BIGBOX::after
{
content:"";
position:absolute;
top:-2px;
left:-2px;
right: -2px;
bottom:-2px;
visibility: hidden;
background:#fff;
z-index:-2;
filter:blur(40px);
}

.BIGBOX:hover::after
{
visibility: visible;
}

.BIGBOX::before,
.BIGBOX::after
{
background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.BIGBOX:nth-child(2)::before,
.BIGBOX:nth-child(2)::after
{
background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.BIGBOX:nth-child(3)::before,
.BIGBOX:nth-child(3)::after
{
background:linear-gradient(235deg,#772aff,#010615,#2196F3);
}
.hidden-text {
display: none;

position:relative;

text-align: center;
}

.hidden-text1 {
display: none;
position:relative;

text-align: center;
}

.hidden-text2 {
display: none;
position:relative;

text-align: center;
}

.hidden-text3 {
display: none;
position:relative;

text-align: center;
}


 /* ADD FROM HEREEEEE */
/*form subscribe*/

.Form-popup {
    display: none;
    position: fixed;
    transition: .5s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    background-color: antiquewhite;
    border-radius: 10px;
    z-index: 1;
    height:550px;
    box-shadow: 0px 10px 60px black;

  }
  
  .Form-container {
    max-width: 370px;
    padding: 10px;
    background-color: transparent;
  }
  .Form-container h1{
      position: relative;
      width:90%;
      margin:0px 0;
      font-weight: 600;
      opacity:0.8;
  }
  .Closebtnn{
      position: relative;
      width:10%;
      font-size: 15px;
      background-color: transparent;
      border:0;
      opacity: 0.6;
      float:right;
  
  }
  .Closebtnn:hover{
      transition: linear 200ms;
      color:red;
  }
  
  .Form-container input[type=name], .Form-container input[type=email],
  .Form-container input[type=password],.Form-container input[type=date] ,
  .Form-container input[type=text], .Form-container input[type=number], .Form-container input[type= companionName]
 {
    width: 90%;
    padding: 20px;
    margin: 5px 0 10px 0;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
  }
  
  
  .Form-container input[type=name]:focus, .Form-container input[type=email]:focus ,
  .Form-container input[type=password]:focus ,.Form-container input[type=date]:focus,
  .Form-container input[type=text]:focus, .Form-container input[type=number]:focus{
      outline: 1px solid blue;
  }
  
  .Form-container .Formbtn {
    background-color:rgb(0, 95, 211);
    color: white;
    padding: 16px 10px;
    border: none;
    border-radius: 5px;
    width: 90%;
  }
  .Form-container hr{
      display: inline-flex;
      vertical-align: middle; 
      margin: 25px 10px;
      width:35%;
  }
  
  .Form-container .Formbtn:hover, .open-button:hover {
    opacity: 1;
    background-color:#0FF4FC;
    transform: scale(1.1);
  }
  
  
  .forminputs{
  
    margin-top: 40%;
  }
  
  .headerr{
    background: linear-gradient(to left, #dd5e89, #f7bb97);
    width: 100%;
    height: 40px;
   
    
  }
  
  #resturantslidee{
    width: 25%;
     height: 80%;
     
     transition: opacity 0.5s ease;
  }
  /* styles.css */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /*background-image: url("images/backgrnd2.jpg");
    background-repeat: repeat;
    background-size: auto 100%;*/
    
  }
  
  .actBody{
    background-image: url("images/backgrnd2.jpg");
    background-repeat: repeat;
    background-size: auto 100%;
  }

  .dropdown {
    margin-bottom: 2rem;
  }
  
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  
  
  
  .dropdown {
    margin-bottom: 2rem;
  }
  
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  
  .content.active {
    display: block;
  }
  /* test */
  
  .checkboxfont{
    font-size: 10px;
    font-style: italic;
  }
  


  
  /*Sandra's activity css*/

  .ActIcon{
    color:blue;
    font-size:8em;
    text-align: center;
}
.ActInfo {
text-align: center;
}
.ActInfo h3{
    color:blue;
    font-size:1.2em;
    font-weight:700;
    text-align: center;
    margin:10px;
}
test33{
    padding:0 10px;
}

.ActContent2{
    display: flex;
    justify-content: flex-start; /* Changed to left-aligned */
    align-items: flex-start; /* align content to the top */
    flex-wrap: wrap;
    width: 100%; /* to make cards take full width */
    padding-left: 0px; /* Adjusted padding */
    padding-right: 0px; /* Adjusted padding */
}

.cards {
    padding: 0 10px;/*so the card is left alligned*/
}

.ActCardsss{/*to make the activity cards fit all the page*/
    background-color:aliceblue;
    width:100%;
    box-shadow: 0 5px 25px rgba(1 1 1/30%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.ActCardsss:hover{
    transform:scale(1.03);
}

.Butto {/*button shaping*/
    background-color: #2804aa; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

 #scrollUp{
    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width:45px;
        text-align: center;
        
 }


 /* the default of login popup is eno hidden */
#loginPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999; /* popup on top */
}


#loginPopup form {/* kool elelements centered  */
    text-align: center;
    color: rgb(18, 26, 68);
}




#loginPopup form label {
    display: block;
    
    margin-bottom: 10px;
}

#loginPopup form input[type="text"],
#loginPopup form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ccc;
    box-sizing: border-box;
}

#loginPopup form button[type="submit"],
#loginPopup form button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
    background-color: rgb(18, 26, 68);
    color: white;
    border: none;
    border-radius: 5px;
}


#loginButton {/* Shakl lel login button */
    padding: 10px 20px;
    background-color: #0FF4FC;
    color: rgb(18, 26, 68);
    border: none;
    border-radius: 5px;
}
#loginButtono {/* Shakl lel login button */
    padding: 10px 20px;
    background-color: #0FF4FC;
    color: rgb(18, 26, 68);
    border: none;
    border-radius: 5px;
}

#loginPopup2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999; /* popup on top */
}


#loginPopup2 form {/* kool elelements centered  */
  text-align: center;
  color: rgb(18, 26, 68);
}



#loginPopup2 form label {
  display: block;
  color:rgb(18, 26, 68) ;
  margin-bottom: 10px;
}

#loginPopup2 form input[type="text"],
#loginPopup2 form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
  box-sizing: border-box;
}

#loginPopup2 form button[type="submit"],
#loginPopup2 form button[type="button"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  
  background-color: rgb(18, 26, 68);
  color: white;
  border: none;
  border-radius: 5px;
}


#loginButton2 {/* Shakl lel login button */
  padding: 10px 20px;
  background-color:rgb(15, 244, 252);
  color: rgb(18, 26, 68);
  border: none;
  border-radius: 5px;
}

/*slideshow*/
.slideshow-container {
    max-width: 600px;
    max-height: 600px;
    position: relative;
    margin: auto;
  }
  
  /* Style for the images */
  .mySlides {
    display: none;
    width: 100%;
    height: 100%;
  }

  .mySlides2 {
    display: none;
    width: 100%;
    height: 100%;
  }

  .mySlides3 {
    display: none;
    width: 100%;
    height: 100%;
  }

  .mySlides4 {
    display: none;
    width: 100%;
    height: 100%;
  }


  /*sandra form css*/
  .body3 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f0ccb7;*/
    background-image: url("images/backgrnd2.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  .background-wrapper {
     
     background-image: url("images/backgrnd2.jpg");
    background-repeat: no-repeat;
    /*background-size: auto 100%;*/
    background-size: cover;
}

  .containerrr {
    padding: 20px;
    background-color: white !important; 
    margin: 50px auto;  
    max-width: 700px;
    border-radius: 20px;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  
  .registerbtn {
    background-color: rgb(18, 26, 68);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  
  a {
    color: dodgerblue;
  }
  
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .EditAddButton{
    color: rgb(224, 235, 245);
    background-color: rgb(9, 9, 23);
    text-decoration: none;
    font-size: 1.1em ;
    font-weight: 600;
    display: inline-block;
    padding: 0.835em 1.1875em;
    letter-spacing: 1px;
    border-radius: 15px;/*curved edges*/
margin-bottom: 20px;
  }

  /*end of sandra css*/